.home-con {
  width: 100%;
}
.nav-con {
  position: fixed;
  width: 100%;
  z-index: 4;
  display: flex;
  background: #01003a;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.home-con .nav-desktop{
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap:60px;
}
.nav-mobile{
  display: none !important;
  transition: 1s;
  transform: translateY(-100vh);
}
.home-con .nav-desktop img {
  width: 100%;
  cursor: pointer;
}
.home-con .nav-desktop ul {
  color: #f9f9f9;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 3vw;
}

.home-con .nav-desktop ul li {
  cursor: pointer;
}

.nav-button {
  background-color: #ffa500;
  padding: 0.81rem 3.94rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-family:"Poppins";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.nav-hambuger{
  display: none;
}
/* Home main */
.home-main {
  padding-top:70px
}.learn-p-btn-pic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8.6rem 6.69rem 4.94rem 6.69rem;
}
.learn-p-btn{
  width: 60%;
}
.intro-header{
  width: 100%;
  color: #1A2129;
  font-family: "Montserrat";
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4.625rem; /* 108.824% */
}
.anytime{
  color: #FFA500;
}
.anywhere{
  color: #222087;
}
.intro-text{
  color: #5E6B74;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* .home-main .learn-p-btn-pic {
  color: #5e6b74;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 32px;
  wordWrap: 'break-word'
} */
/* .home-main .learn-p-btn-pic .learn-p-btn div:nth-child(3) {
  display: flex;
  justify-content: start;
  gap: 0 1vw;
} */
.button-container{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}

.get-started-btn{
  border-radius: 8px;
  border: none;
  background: #FFA500;
  padding: 1.19rem 4.19rem;
  color: #FFF;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
}

.learn-more-btn{
  background-color: transparent;
  padding: 1.19rem 4.19rem;
  border: 1px solid #FFA500;
  border-radius: 8px;
  color: #434D56;
  font-family: Poppins;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
}
.intro-image-con{
  width: 40%;
  display: flex;
  justify-content: center;
}
.intro-image-con img{
  width: 100%;
}

/* .home-main .learn-p-btn-pic div:nth-child(2) {
  width: 25vw;
} */

/* Home main accumulator */

.home-main .accumulator {
  background-color: #000025;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2vh 0;
}

.home-main .accumulator div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accumulator div p:first-child {
  color: white;
  font-size: 38px;
  font-family: "General Sans", sans-serif;
  font-weight: 600;
}

.accumulator div p:nth-child(2) {
  color: #b2b2c4;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 32px;
  /* word-wrap: 'break-word' */
}

.home-main .why-amplify-elevate-empower {
  font-family: "Poppins", sans-serif;
  background-color: rgba(94, 107, 116, 0.2);
  padding-top: 12vh;
}

/* .home-main .why-amplify-elevate-empower h2 {
  color: #1a2129;
  font-size: 38px;
  font-family: "General Sans", sans-serif;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 3vh;
} */

.why-choose-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 6.39rem;
  gap: 51px;
}

.p-img {
  width: 50%;
}
.why-choose-header{
  margin-bottom: 30px;
  color: #1A2129;
  font-family: "General Sans";
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 600;
}
.why-choose-text{
  max-width: 561px;
  margin-bottom: 30px;
  color: #5E6B74;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 177.778% */
}
/* .why-choose-us .p-img div:first-child p {
  color: #5e6b74;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 1vh;
} */

.home-main .p-img img {
  width: 90%;
  height: 276px;
}

.p-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  grid-gap: 31px;
}

.choose-grid {
  background: #FFF;
  box-shadow: 0px 4.453px 278.302px 0px rgba(31, 31, 31, 0.05);
  padding: 2.15rem 1.25rem;
}
.home-main .p-icons h3 {
  color: #1a2129;
  font-size: 20.04px;
  font-family: "Poppins";
  font-weight: 500;
  margin-bottom: 10px;
  /* wordWrap: 'break-word' */
}

.home-main .p-icons div p {
  color: #5E6B74;
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 31.17px;
}
.choose-grid div{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience-edu div{
  background-color: #3760F0;
}
.person-inter div{
  background-color: #4CAF50;
}
.flex-learn div{
  background-color: #F037A6;
}
.access div{
  background-color: #F08537;
}

.amplify, .elevate, .empower{
  margin-top: 170px;
  padding: 0rem 6.39rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 47px;
}
.elevate{
  margin-top: 203px;
}
.amplify-body{
  width: 50%;
}
.amplify-header{
  color: #1A2129;
  font-family: "General Sans";
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 600;
}
.amplify-text{
  margin-top: 30px;
  margin-bottom: 30px;
  color: #5E6B74;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
}
.amplify-image{
  width: 50%;
  display: flex;
  justify-content: right;
}
.image-1{
  margin-right: -80px;
}
.image-2{
  margin-left: -60px;
}
.home-main .amplify h3 span,
.elevate h3 span,
.empower h3 span {
  color: #222087;
}

/* .home-main .amplify p,
.elevate p,
.empower p {
  color: #5e6b74;
  font-size: 18;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 32px;
} */

.home-main .amplify button,
.elevate button,
.empower button {
  background-color: #ffa500;
  border-radius: 10px;
  padding: 1.19rem 4.19rem;
  border: none;
  color: white;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* .home-main .amplify div:nth-child(2),
.elevate div:first-child,
.empower div:nth-child(2) {
  width: 38vw;
} */

.home-main .amplify div:nth-child(2) img,
.elevate div:first-child img,
.empower div:nth-child(2) img {
  width: 100%;
}

.home-main .getting {
  background-color: #000025;
  padding: 8.44rem 6.75rem;
}

.home-main .getting .text-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 104px;
}
.text{
  width: 50%;
}
.getting-header{
  color: #FFF;
  font-family: "General Sans";
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 600;
}
/* .home-main .getting .text-con .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 37vw;
  text-align: justify;
} */
.getting-body{
  margin-top: 36px;
  color: rgba(255, 255, 255, 0.70);
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
}

.home-main .getting .text-con .text div:nth-child(2) p {
  color: white;
  font-size: 1.125rem;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 28px;
  /* wordWrap: 'break-word' */
}

.home-main .getting .text-con .text div:nth-child(2) p span {
  color: rgba(255, 255, 255, 0.7);
}

.home-main .getting .text-con .text div:nth-child(2) div {
  display: flex;
  align-items: center;
  gap: 2vh 1vw;
  margin: 3vh 0;
}

.home-main .getting .text-con .text div:nth-child(2) div div {
  width: 2vw;
}

.home-main .getting .text-con .text div:nth-child(2) div div img {
  width: 100%;
}

.home-main .getting .text-con .vid-con {
  width: 50%;
  display: flex;
  justify-content: center;
}
.home-main .getting .text-con .vid-con img {
  width: 80%;
}

.home-main .testimonial-session {
  background-color: rgba(86, 39, 255, 0.03);
  padding: 15vh 0;
}

.home-main .testimonial-session .h5-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.home-main .testimonial-session .h5-p h5 {
  text-align: center;
  color: #1a2129;
  font-size: 38px;
  font-family: "General Sans";
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 5vh;
  /* wordWrap: 'break-word' */
}
.home-main .testimonial-session .h5-p p {
  text-align: center;
  color: #5e6b74;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 28px;
  width: 35vw;
  margin: 0 auto;
  /* wordWrap: 'break-word' */
}

.home-main .testimonial-session .card-con {
  display: flex;
  gap: 20px;
  height: 349px;
  margin-top: 120px;
  overflow: hidden;
}



.home-main .testimonial-session .card {
  min-width: 507px;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
}

.home-main .testimonial-session .card img {
  width: 100%;
}

.home-main .testimonial-session .quote-img {
  width: 2vw;
  margin-bottom: 1vh;
}

.home-main .testimonial-session .card .speech {
  margin-top: 30px;
  height: 140px;
  font-style: italic;
  color: "#5E6B74";
  font-size: 0.75rem;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 28px;
  display: flex;
  align-items: center;
}

.home-main .testimonial-session .person-details {
  display: flex;
  align-items: center;
  gap: 0 2vh;
  margin-top: 30px;
}

.home-main .testimonial-session .person-details .person-img {
  width: 2vw;
}

.home-main .testimonial-session .person-details p:first-child {
  color: "#1A2129";
  font-size: 13px;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 28px;
  /* wordWrap: 'break-word' */
}
.home-main .testimonial-session .person-details p:nth-child(2) {
  color: #5e6b74;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 400;
  /* line-height: 28px; */
  /* wordWrap: 'break-word' */
}

.home-main .testimonial-session .person-details .person-img img {
  width: 100%;
}

.home-main .testimonial-session .person-details .name-uni {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-main .testimonial-session .person-star {
  width: 1vw;
  display: flex;
  align-items: center;
}

.home-main .testimonial-session .below-slides {
  width: 19vw;
  margin: 0 auto;
}

.home-main .testimonial-session .below-slides img {
  width: 100%;
  margin-top: 13vh;
}

.home-main .get-in-touch {
  padding: 7rem 5rem;
  background: url("../../assets/background.jpeg");
  background-position: center;
  background-size: contain;
  position: relative;
  width: 100%;
  min-height:900px;
}
.layer{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,37,0.8);
}
.home-main .get-in-touch .get-in-touch-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 100%;
}

.home-main .get-in-touch .e-message {
  width: 50%;
}

.home-main .e-message button {
  display: block;
  color: white;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 600;
  /* wordWrap: 'break-word' */
  background-color: #ffa500;
  padding: 1.5rem;
  border-radius: 10px;
  border: none;
}

.home-main .e-message .p-inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 6vh 3vw;
  background-color: white;
  border-radius: 10px;
}

.home-main .e-message .p-inputs h5 {
  color: #1a2129;
  font-size: 38px;
  font-family: "General Sans";
  font-weight: 600;
  line-height: 28px;
  margin: 2vh 0;
  /* wordWrap: 'break-word' */
}

.home-main .e-message .p-inputs p {
  margin: 2vh 0;
  color: #5e6b74;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 32px;
  /* wordWrap: 'break-word' */
}

.home-main .e-message textarea {
  background-color: rgba(1, 0, 58, 0.1);
  border-radius: 10px;
  margin-bottom: 2vh;
  padding: 1rem;
  color: #5e6b74;
  border: none;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 400;
}

.home-main .e-message .p-inputs input {
  background-color: rgba(1, 0, 58, 0.1);
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 32px;
  margin: 1vh 0;
  width: 95%;
  border-radius: 10px;
  /* wordWrap: 'break-word' */
}

.home-main .e-message .name-add-num-sub {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 0 1vw;
  margin-bottom: 1vh;
}

.home-main .e-message .name-add-num-sub input {
  border: none;
  outline: none;
  padding: 1vh;
}

.home-main .get-in-touch .social-media {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 1.5rem;
  gap: 2vh 0;
  border-radius: 10px;
}

.home-main .get-in-touch .line {
  border-bottom: 1px solid #000025;
}

.home-main .get-in-touch .img-p {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 1.5rem;

}

.social-svg{
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: #FFF7D7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-svg svg{
  font-size: 1.06rem;
  color: #FFA500;
}

.home-main .get-in-touch .img-p div:nth-child(2) {
  display: flex;
  justify-content: center;
  gap: 2vh 0;
  flex-direction: column;
}
.home-main .get-in-touch .img-p div:nth-child(2) p:first-child {
  color: #1a2129;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 15px;
  /* wordWrap: 'break-word' */
}
.home-main .get-in-touch .img-p div:nth-child(2) p:nth-child(2) {
  color: #5e6b74;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 15px;
  /* wordWrap: 'break-word' */
}

.home-main footer {
  background-color: #01003a;
  padding: 8vh 3vw;
}

.home-main .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b2b2c4;
  font-family: "Poppins";
  border-bottom: 1px solid rgba(178, 178, 196, 0.3);
  padding-bottom: 7vh;
}

.home-main .footer h6 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}

.home-main .footer img {
  width: 100%;
}

.home-main .footer div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh 0;
}

.home-main .footer div:first-child div:first-child {
  width: 7vw;
}

.home-main .footer div:first-child .para {
  width: 29vw;

  font-size: 15px;
  font-family: "Poppins";
  font-weight: 400px;
  line-height: 28px;
  /* wordWrap: 'break-word' */
}

.home-main .footer div:first-child .social-icons div {
  padding: 2vh 2vw;
  background-color: #434d56;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #1a194d;
  transition: all 0.5s ease-in-out;
}

.home-main .footer div:first-child .social-icons div:hover {
  background-color: #ffa500;
  cursor: pointer;
}

.home-main .footer div:first-child .social-icons {
  display: flex;
  align-items: center;
  gap: 0 0.5vw;
}

.home-main .footer .middle-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5vh 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;

  /* wordWrap: 'break-word' */
}

.home-main .footer .middle-div ul {
  list-style: none;
}

.home-main .footer .middle-div ul li {
  margin: 1.5vh 0;
}

.home-main .footer .last-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh 0;
}

.home-main .footer .last-div p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  width: 18vw;
  /* wordWrap: 'break-word' */
}

.home-main .footer .last-div .message {
  width: 1vw;
}

.home-main .footer .last-div .message img {
  width: 100%;
}

.home-main .footer .last-div .input-img {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  justify-content: space-evenly;
}

.home-main .footer .last-div .input-img input {
  border: none;
  outline: none;
  padding: 1.5vh 0;
  cursor: pointer;
}

.home-main .footer .last-div button {
  border: none;
  outline: none;
  padding: 1.5vh 0;
  cursor: pointer;
  border-radius: 10px;
  background-color: #ffa500;
  color: white;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 600;
  /* wordWrap: 'break-word' */
}

.home-main footer .copyright {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 32px;
  padding-top: 4vh;
  /* wordWrap: 'break-word' */
  border-top: 1px solid #000025;
}
@media (max-width:1200px) {
  .intro-header{
    font-size: 3.25rem;
    line-height: 3.5rem;
  }
  .into-text{
    font-size: 0.9rem;
  }
  .choose-grid {
    padding: 2rem 1rem;
  }
  .home-main .p-icons h3 {
    font-size: 1rem;
  }
  .home-main .p-icons div p {
    font-size: 0.8rem;
    line-height: 20px;
  }
  .choose-grid div{
    width: 60px;
    height: 60px;
  }
  /* .choose-grid div svg{
    width: 60%;
  } */
}
@media (max-width:1100px) {
  .intro-header{
    font-size: 3rem;
  }
  .intro-image-con{
    width: 50%;
  }
  .intro-text{
    font-size: 0.9rem;
  }
  .p-icons{
    width: 55%;
  }
  .home-main .p-img img {
    width: 90%;
    height: 200px;
  }
  .choose-grid div{
    width:50px;
    height: 50px;
  }
  .choose-grid div svg{
    width: 60%;
  }
  .amplify-header{
    font-size: 1.9rem;
  }
  .amplify-text{
    font-size: 0.9rem;
  }
  .amplify-image{
    width: 60%;
  }
  .home-main .getting {
    padding: 7rem 6rem;
  }
  .home-main .getting .text-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 90px;
  }
  .getting-header{
    font-size: 2rem;
  }
  .getting-body{
    font-size: 0.9rem;
  }
  .home-main .getting .text-con .text div:nth-child(2) p {
    font-size: 0.9rem;
  }
  .home-main .getting .text-con .vid-con {
    width: 50%;
  }
  .home-main .getting .text-con .vid-con img {
    width: 100%;
  }
  .home-main .testimonial-session .card {
    /* width: 900px; */
  }
}

@media (max-width: 900px){
  .nav-hambuger{
    display: block;
  } 
  .nav-times{
    display: flex;
    justify-content: right;
  }
  .nav-hambuger svg, .nav-times svg{
    color: white;
    font-size: 1.5rem;
  }
  .home-con nav {
    display: none;
  }
  .nav-desktop{
    display: none !important;
  }
  .nav-mobile{
    display: block !important;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: 1s;
    padding: 2rem;
    transform: translateY(0vh);
    background-color: #01003A;
  }
  .nav-mobile ul{
    list-style: none;
    padding: 2rem;
  }

  .nav-mobile ul li{
    color: #f9f9f9;
    font-size: 1.3rem;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  .nav-button-mobile{
    margin-left: 2rem;
  }
}