/* ResetPassword page and ForgetPassword page share the same css */

@import url("https://api.fontshare.com/v2/css?f[]=general-sans@200,500,300,600,400,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.error-message {
  border-left: 5px solid #cb1a14;
  padding: 0.5vh 0.5vw;
  border-radius: 10px;
}

.error-message div {
  display: flex;
  gap: 0 1vw;
  align-items: center;
}
.error-message div p {
  color: #101928;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 18.24px;
  /* wordWrap: 'break-word' */
}
.error-message div .cancel {
  cursor: pointer;
}

.error-message div .error-img {
  width: 1.5vw;
}
.error-message div img {
  width: 100%;
}

